<h2>Resend confirmation instructions</h2>

<%= form_for(admin, as: admin, url: confirmation_path(admin), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

 

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
