<h1 style=" color:green">Welcome To Ojas</h1>


<div style="width: 200px; margin: 30px;
display: block; border: solid 1px #26e9a7cc;">
	<h3><%= link_to 'Employee Login', "/newemployees/new" %></h3>

</div>
<div style="width: 200px;  float: inline-end;
margin-right: 702px;border: solid 1px #26e9a7cc;margin-top: -87px;">
	
	<h3><%= link_to 'CreateStudent', "/students/new" %></h3>

</div>

